{% extends "snow_inspector/base.html" %}

{% load staticfiles %}

{% load tethys_gizmos %}

{% block global_scripts %}
{{ block.super }}
<script src="{% static 'snow_inspector/vendor/openlayers/v3.3.0/ol.js' %}" type="text/javascript"></script>
{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'snow_inspector/vendor/openlayers/v3.3.0/ol.css' %}" type="text/css" />
<style>
    .ol-mouse-position {
        top: 10px;
        right: 40px;
    }
    .ol-mycontrol {
        background-color:rgba(255,255,255,0.4);
        border-radius: 4px;
        padding: 2px;
        position:absolute;
        bottom: 20px;
        left: 20px;
    }
</style>
{% endblock %}

{% block header_buttons %}
    <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Instructions">
        <a data-toggle="modal"  data-placement="bottom" data-target="#welcome-popup" title="Instructions" style="cursor:pointer;"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
    <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom"title="Source Code">
        <a href="https://github.com/FennaHD/snow-inspector.git" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
    </div>
{% endblock %}

{% block app_navigation_items %}
<form method="get" action="snow_graph/">
    <!--<button type="button" class="btn btn-default" data-toggle="modal" data-target="#welcome-popup">Instructions</button>
    <br>-->
    <br>
    <li>
        {% gizmo date_picker date_picker %}
        {% gizmo text_input days_picker %}
        <table>
            <tr>
                <td>{% gizmo text_input lat_picker %}</td>
                <td width="10px"></td>
                <td>{% gizmo text_input lon_picker %}</td>
            </tr>
        </table>
    </li>

    <input type='hidden' id='end' name='end'>
    <input type='hidden' id='zoom' name='zoom'>
    <input type='hidden' id='layer' name='layer'>
    <input type="hidden" id="layer1" name="layer1">
    <input type="hidden" id="level1" name="level">
    <input type="hidden" id="zoom1" name="zoom1">

    <input type="hidden" id="resolutions" name="resolutions">
    <input type='hidden' id="matrix_set" name="matrix_set">
    <input type="hidden" id="matrix_ids" name="matrix_ids">
    <input type="hidden" id="tileSize" name="tileSize">

    <input type="submit" id='getsnow' value="Retrieve Snow Data" name='getsnow' class="btn btn-default">

</form>
{% endblock %}

{% block app_content_wrapper_override %}
<!-- Modal  -->
<div class="modal fade" id="welcome-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Welcome to the Snow Inspector!</h4>
            </div>
            <div class="modal-body">
                <div id="welcome-info">
                    <p>The purpose of this app is to provide the user with a visualization of data on different snow
                        parameters such as snow coverage, mass, and its water equivalent anywhere in the world. This
                        data is useful in reducing uncertainty in flooding and weather predictions.</p>
                    <p style="font-size:20px; text-decoration:underline;">Steps</p>
                    <ol style="padding-left:20px;">
                        <p class="steps">1. Select time period</p>
                        <p>Choose the date and the length of the time period in days.</p>
                        <p class="steps">2. Select layer</p>
                        <p>Choose the snow parameter to acquire data for.</p>
                        <p class="steps">3. Select point of interest</p>
                        <p>Click the map or enter coordinates to select the point of interest.</p>
                        <p class="steps">4. Get time series</p>
                        <p>Click the "Retrieve Snow Data" button to show a time-series graph.</p>
                        <p class="steps">5. Download Results</p>
                        <p>Click the "Get WaterML" to save results as a WaterML file.</p>
                        <p class="steps">6. Upload to HydroShare</p>
                        <p>Click the "Upload to HydroShare" and fill out the metadata form.</p>
                        <p style="font-size:16px;">Refer to the following video for more detailed instructions: </p>
                        <iframe width="400" height="225" src="https://www.youtube.com/embed/Ew8krANGb0E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <h9><br><br>
We acknowledge the use of imagery provided by services from the <a href="https://earthdata.nasa.gov/about/science-system-description/eosdis-components/global-imagery-browse-services-gibs" target="_blank">
                                NASA Global Imagery Browse Service (GIBS)</a>, operated by the NASA/GSFC/Earth Science Data and Information System (ESDIS, <a href="https://earthdata.nasa.gov" target="_blank">https://earthdata.nasa.gov</a>) with funding provided by NASA/HQ.<br>
                        </h9>
                        <br>
                        <div id="extra-buttons">
                            <a class="btn btn-default" href="https://github.com/FennaHD/snow-inspector.git" target="_blank">Source Code</a>
                        </div>
                    </ol>
                </div>
            </div>
            <div class="modal-footer">
                <div id="byu-logo-container">
                    <span style="font-size:14px"><i>Originally developed by Jiri Kadlec at the BYU Hydroinformatics Lab</i></span>
                    <img src="{% static 'snow_inspector/images/byu-medallion.png' %}"/>
                </div>
                <button type="button" class="btn btn-default" id="close-popup" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

{{block.super}}
{% endblock %}


{% block app_content %}

<p style="display:inline;">Click on the map to select location. Then click on the "Retrieve Snow Data" button
    to show data history.
    <input type="button" id="btnShowPixels" name="btnShowPixels" value="Show Pixels" />
    <!-- This is the original Show Modis Layer button, modified to accept different layers
    <input type="button" id="btnShowModis" name="btnShowModis" value="Hide Modis Layer" /> -->
    Select Layer:
    <select id="selectLayer" style="display:inline; text-align:left; cursor:pointer;">
        <option value="snowCover">Snow Cover</option>
        <option value="snowMass">Snow Mass</option>
        <option value="snowWaterEquivalent">Snow Water Equivalent</option>
        <option value="none">None</option>
    </select>
    &nbsp; Base Map:
    <select id="selectBaseMap">
        <option value="esri">Esri</option>
        <option value="bing">Bing</option>
        <option value="osm">OpenStreetMap</option>

        <!-- MapQuest stopped offering free service. Not displaying the option anymore
        <option value="mapquest">MapQuest</option>
        End of changes. -->
    </select>
</p>
<div id="map_view_outer_container">
    <div class="row">
        <div class="col-md-12">
            <div id="map_wrapper">
                <div id="map_view" style="width: 100%; position: relative;">
                </div>
            </div>
        </div>
    </div>
</div><!-- end outerContainer -->


{% endblock %}

{% block app_actions_override %}
{% endblock %}

{% block app_actions %}
<!--<a href="{% url 'snow_inspector:home' %}" class="btn btn-default">Back</a>-->
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'snow_inspector/js/map.js' %}"></script>
{% endblock %}
